---
layout: page
title: Accordion
---
<div class="demo-container">
  
       <div style="border-radius: 25px; border: 2px solid seagreen;padding: 20px;">
         <strong>New in v3.6.0!</strong> The <a href="http://blazecss.com/components/accordions/" target="_blank">accordion</a> is still in beta, but you can see it working here
     </div>

  
  <p>
		<rg-accordion></rg-accordion>
	</p>

	<h2>Use</h2>
	<p class="newlabel">You can now write the content of the accordion in markdown!</p>
	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-accordion>&lt;/rg-accordion></code></pre>

	<h3>
		JavaScript
	</h3>

<pre><code class="javascript">
var tags = riot.mount('rg-accordion', {
             accordion: {
               panels: [
                      {
                      title: 'Heading 1',
                      content: '# Content 1 - _testing italics_'
                      },
                      {
                      title: 'Heading 2',
                      content: '## Content 2 **some bold proof**'
                      },
                      {
                      title: 'Heading 3',
                      content: '### Content 3'
                      },
                    ]
             }

        });

       tags[0].on('notify', function(e) {
           console.log("notify: ", e)
        })
	</code></pre>
	<b>Hint!</b> Check the browser console for notifications.
</div>
<script>
	var tags = riot.mount('rg-accordion', {
             accordion: {
               panels: [
                      {
                      title: 'Heading 1',
                      content: '# Content 1 - _testing italics_'
                      },
                      {
                      title: 'Heading 2',
                      content: '## Content 2 **some bold proof**'
                      },
                      {
                      title: 'Heading 3',
                      content: '### Content 3'
                      },
                    ]
             }

        }) ;
	
	tags[0].on('notify', function(e) {
            console.log("notify: ", e)
        })

</script>
