---
layout: page
title: Accordion
---
<div class="demo-container">
  
       <div style="border-radius: 25px; border: 2px solid goldenrod;padding: 20px;">
         <strong>New in v3.6.0!</strong> The <a href="http://blazecss.com/components/accordions/">accordion</a> feature from Blaze CSS is on it's way!
     </div>

  
  <p>
		<rg-accordion></rg-accordion>
	</p>

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-accordion>&lt;/rg-accordion></code></pre>

	<h3>
		JavaScript
	</h3>

<pre><code class="javascript">var tags = riot.mount('rg-accordion');</code></pre>

</div>
<script>
	riot.mount('rg-accordion') ;
</script>
