---
layout: page
title: Address
---
<div class="demo-container">
  
       <div style="border-radius: 25px; border: 2px solid seagreen;padding: 20px;">
         <strong>New in v3.6.0!</strong> The <a href="http://blazecss.com/components/addresses/">addresses</a> feature from Blaze CSS is on it's way!
     </div>

  
  <p>
		<rg-address></rg-address>
	</p>

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-address>&lt;/rg-address></code></pre>

	<h3>
		JavaScript
	</h3>

<pre><code class="javascript">var tags = riot.mount('rg-address');</code></pre>

</div>
<script>
	riot.mount('rg-address') ;
</script>
