---
layout: page
title: Alerts
---

<div class="demo-container no-overflow">
         <rg-alert style="success" dismissable=false timeout=3>Standalone **test alert** _(times out in **3** secs)_</rg-alert>
         <br />

	<h2>Use</h2>
	<hr>
	<rg-alerts></rg-alerts>
	<hr>
	
	<p class="newlabel">You can now use markdown in the text of your alerts!</p>
	
	<h3>HTML</h3>

	<pre><code class="html">
	&lt;rg-alert style="success" dismissable=false timeout=3&gt;Standalone **test alert** _(times out in **3** secs)_&lt;/rg-alert&gt;
	&lt;br /&gt;
	&lt;rg-alerts>&lt;/rg-alerts></code></pre>

	<h3>JavaScript</h3>

<pre><code class="javascript">
 RiotGearInit() ;   // If you're using markdown text.

riot.mount("rg-alert") ;

var tags = riot.mount('rg-alerts', {
  alerts: [{
    style: 'brand',
    text: 'Look! Something _you_ should know about.'
  }, {
    style: 'warning',
    text: 'Warning! You can\'t **remove** this alert.',
    dismissable: false
  }, {
    style: 'success',
    text: 'Success! Well done. This alert will disappear in **10 seconds**',
    timeout: 10000   // values can either be in secs or milisecs. Will adjust accordingly. Anythng over 50K milis gets set to 5 secs.
  }, {
    style: 'error',
    text: 'Error! Something bad happened. ',
    dismissable: true
  }]
});

tags[0].on('select', function (alert) { ... })
         .on('dismiss', function (alert) { ... })</code></pre>
</div>

<script>
  RiotGearInit() ;

  riot.mount("rg-alert") ;

  riot.mount('rg-alerts', {
    alerts: [{
      style: 'brand',
      text: 'Look! Something _you_ should know about.'
    }, {
      style: 'warning',
      text: 'Warning! You can\'t **remove** this alert.',
      dismissable: false
    }, {
      style: 'success',
      text: 'Success! Well done. This alert will disappear in **10 seconds**',
      timeout: 10000
    }, {
      style: 'error',
      text: 'Error! Something **bad** happened. ',
      dismissable: true
    }]
  })
</script>
