---
layout: page
title: Badges
---
<div class="demo-container">
  
       <div style="border-radius: 25px; border: 2px solid seagreen;padding: 20px;">
         <strong>New in v3.6.0!</strong> The <a href="http://blazecss.com/components/badges/">badges</a> feature from Blaze CSS is in beta!
     </div>
  
	<h2>Use</h2>
	<hr>
	   <rg-badge style="default">RG2 Rocks!</rg-badge>
	   <rg-badge style="brand">RG2 Rocks!</rg-badge>
	   <rg-badge style="info">RG2 Rocks!</rg-badge>
	   <rg-badge style="success">RG2 Rocks!</rg-badge>
	   <rg-badge style="warning">RG2 Rocks!</rg-badge>
	   <rg-badge style="error">RG2 Rocks!</rg-badge>
	   <br />
	   <br />
	    <rg-badge style="default" rounded=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="brand" rounded=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="info" rounded=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="success" rounded=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="warning" rounded=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="error" rounded=true>RG2 Rocks!</rg-badge>
	    <br />
	    <br />
	    <rg-badge style="default" ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="brand" ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="info" ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="success" ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="warning" ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="error" ghost=true>RG2 Rocks!</rg-badge>
	    <br />
	    <br />
	    <rg-badge style="default" rounded=true ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="brand" rounded=true ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="info" rounded=true ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="success" rounded=true ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="warning" rounded=true ghost=true>RG2 Rocks!</rg-badge>
	    <rg-badge style="error" rounded=true ghost=true>RG2 Rocks!</rg-badge>
	    <br />
	<hr>
           <ul>
		   <li>You can set values for the badges inline, or via the opts (this is true for most RG2 components)</li>
		   <li>On Click is emitted</li>
	   </ul>
	<h3>
		HTML
	</h3>

	<pre><code class="html">
      &lt;rg-badge style="default|brand|info|success|warning|error" rounded=true ghost=true&gt;RG2 Rocks!&lt;/rg-badge&gt;
  </code></pre>

	<h3>
		JavaScript
	</h3>

<pre><code class="javascript">
var tags = riot.mount("rg-badge") ;
</code></pre>

</div>
<script>
    riot.mount("rg-badge") ;
</script>
