---
layout: page
title: Cards
---

<div class="demo-container">

    <div style="border-radius: 25px; border: 2px solid seagreen;padding: 20px;">
        <strong>New in v3.6!</strong> The Blaze <a href="http://blazecss.com/components/cards/">cards</a> can be used to display funky (or not) content, with headers, images and optional footers.
    </div>

    <h2>Use</h2>
    <p class="newlabel">As with all <b>RiotGear2</b> tags you can use markdown in your button text!</p>
    <hr>
    <div class="o-container o-container--medium">
      <div class="o-grid o-grid--small-full o-grid--medium-full o-grid--large-full">
        <div id="crd-demo-1" class="o-grid__cell">

           <rg-card footer="Do you like this?">
		   This content is taken from <i>within</i> the <code>&lt;rg-card&gt;</code> tag. <rg-badge style="success">This works!</rg-badge>. As you can see you can <rg-button style="brand" text="RiotGear**2**"></rg-button> tags inside here too!
          </rg-card>

        </div>
        <div id="crd-demo-2" class="o-grid__cell">

           <rg-card>
<!--		   My additional <b>content</b> here. Other <b>RiotGear2</b> can also be used inside your card.
		   <rg-badge style="brand">This works too!</rg-badge><br /><br />
            <rg-unsplash image="491" blur=true width="764"></rg-unsplash><br /><br />
            <rg-button style="success" rounded=true full=true ghost=true text="Hello"></rg-button><br /><br />   -->
          </rg-card>
        </div>
    </div>
 </div>

    <hr>

    <h3>Card Attributes</h3>
	<p><b>Inline settings: </b> header (text) | subhead (text) | image | text | shadow | footer (text) </p>
    <hr>
	<p><b>shadow</b>: <span style="padding: 0.3em" class="u-high">high</span> | <span style="padding: 0.3em" class="u-higher">higher</span> | <span style="padding: 0.3em" class="u-highest">highest</span></p>
    <p><b>header</b>:</p>
    <p style="margin-left: 1.8em"><i><b>image</b></i>: [URL]</p>
    <p style="margin-left: 1.8em"><i><b>subhead</b></i>: [TEXT]</p>
    <p style="margin-left: 1.8em"><i><b>divider</b></i>: [BOOLEAN] yes/no or true/false</p>
    <p style="margin-left: 1.8em"><i><b>style</b></i>:
	<rg-badge>&lt;empty&gt;</rg-badge> |
        <rg-badge style="info">info</rg-badge> |
        <rg-badge style="brand">brand</rg-badge> |
        <rg-badge style="warning">warning</rg-badge> |
        <rg-badge style="error">error</rg-badge> |
        <rg-badge style="success">success</rg-badge>
</p>
    <p><b>text</b>: [TEXT] card body text</p>
    <p><b>footer</b>: [TEXT]</p>
    <p style="margin-left: 1.8em"><i><b>text</b></i>: [TEXT]</p>
    <p style="margin-left: 1.8em"><i><b>divider</b></i>: [BOOLEAN] yes/no or true/false</p>
    <p style="margin-left: 1.8em"><i><b>style</b></i>: [STYLE] adds a banded divider below the header (if <code>divider</code> is true)</p>
    <p style="margin-left: 1.8em"><i><b>block</b></i>: [BOOLEAN] yes/no or true/false. Sets footer items in block mode.</p>
    <p style="margin-left: 1.8em"><b>items</b>: [LIST] buttons at bottom of card</p>
    <p style="margin-left: 2.8em"><i><b>text</b></i>: [TEXT]</p>
    <p style="margin-left: 2.8em"><i><b>style</b></i>: 
	<rg-badge>&lt;empty&gt;</rg-badge> |
        <rg-badge style="info">info</rg-badge> |
        <rg-badge style="brand">brand</rg-badge> |
        <rg-badge style="warning">warning</rg-badge> |
        <rg-badge style="error">error</rg-badge> |
        <rg-badge style="success">success</rg-badge>
	</p>
	<p style="margin-left: 2.8em"><i><b>active</b></i>: yes | no OR true | false |
        <rg-button style="brand" active="yes" size="xsmall">active</rg-button>&nbsp;
        <rg-button style="brand" active="no" size="xsmall">non-active</rg-button>
    </p>
	<p style="margin-left: 2.8em"><i><b>disbled</b></i>: yes | no OR true | false |
        <rg-button style="info" disabled="yes" size="xsmall">disabled</rg-button>&nbsp;
        <rg-button style="info" size="xsmall">enabled</rg-button>
    </p>
    <br />
	 <h3>
		HTML
	</h3> The settings for header text, shadows &amp; footer text can be set on a tag by tag basis.

 <pre><code class="html">
  &lt;rg-card shadow="high | higher | highest" [header="TEXT"] [foooter="TEXT"]&gt;&lt;/rg-card&gt;
  </code></pre>

    <h3>
		JavaScript
	</h3>

    <pre><code class="javascript">
    var tags = riot.mount ("rg-card", {card: {
                            text: "My **precious** text, it's _mine_! It's _mine_!&lt;br /&gt;",
                            header: {image: "https://unsplash.it/1024/500?random",
                                    text: "**Master** of the _Universe_",
                                    subhead: "Job Vacancy",
                                    divider: true,
//                                    style: "brand"
                                    },
                            footer: {
//                                    text: "_Footer_ Text",
//                                    divider: true,
//                                    style: "warning",
//                                    block: true,
                                    items: [
                                      {text: "Yes"},
                                      {text: "Maybe", style: "warning"},
                                      {text: "No", style: "error"}
                                    ]}
    }}) ;

    tags[0].on("button-clicked", function (e) {console.log("button-clicked:", e)}) ;

</code></pre>


    <script>
	riot.mount ("rg-button, rg-badge") ;

	    var tags = riot.mount("div#crd-demo-1","rg-card", {
            card: {
                text: "My **precious** text, it's _mine_! It's _mine_!",
		shadow: "high",
                header: {
                    image: "https://unsplash.it/1024/500?random",
                    text: "**Master** of the _Universe_",
                    subhead: "Job Vacancy",
                    divider: true,
//                    style: "brand"
                },
                footer: {
//                    text: "_Footer_ Text",
//                    divider: true,
//                    style: "warning",
//                    block: true,
                    items: [{
                            text: "Yes"
                        },
                        {
                            text: "Maybe",
                            style: "warning"
                        },
                        {
                            text: "No",
                            style: "error"
                        }
                    ]
                }
            }
        });

        var tags = riot.mount("div#crd-demo-2","rg-card", {
            card: {
                text: "A **second** card with other options enabled. Cool!",
		shadow: "highest",
                header: {
                    text: "**Elegant**, Stylish &amp; _Open Source_",
                    subhead: "Shameless Plug",
                    divider: true,
                    style: "success"
                },
                footer: {
                    text: "&copy; MIT License 2017",
//                    divider: true,
//                    style: "warning",
                    block: true,
                    items: [{
                            text: "Love It!",
			    style: "info"
                        },
                        {
                            text: "Use It!",
                            style: "info"
                        },
                        {
                            text: "Grok it!",
                            style: "brand"
                        }
                    ]
                }
            }
        });

        tags[0].on("button-clicked", function(e) {
            console.log("button-clicked:", e)
        });
    </script>
</div>
