---
layout: page
title: Charts
---

<div class="demo-container no-overflow">
	<rg-chart class="barchart"></rg-chart>
	<rg-chart class="ringchart"></rg-chart>

	<h2>Use</h2>

	<h3>HTML</h3>

	<pre><code class="html">&lt;rg-chart>&lt;/rg-chart></code></pre>

	<h3>JavaScript</h3>

<pre><code class="javascript">var tags = riot.mount('rg-chart', {
  chart: {
    type: 'doughnut', // line|bar|radar|polar|pie|doughnut
    data:{
    labels: [
        "Red",
        "Blue",
        "Yellow"
    ],
    datasets: [
        {
            data: [300, 50, 100],
            backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ]
        }]
  },
    options: {}, // Look at Chart.js documentation on how to populate data and options  
})

tags[0].on('loaded', function (chart) { ... })</code></pre>
</div>

<p>
	<code>rg-chart</code> relies on <a href="http://www.chartjs.org/">Chart.js</a> - a simple, responsive, modular and interactive charting library.
</p>

<p>
	Look at Chart.js documentation on how to populate <code>data</code> and <code>options</code>.
</p>
     <p />
     <div style="border-radius: 25px; border: 2px solid goldenrod;padding: 20px;"><strong>Breaking Change with v3.5.0!</strong> This version has been upgraded to ChartJS v2.5
	 so the API calls are different from ChartJS v1.x. 
	 More details on the <a href="http://www.chartjs.org/docs/">changes here</a>
</div>
<p>
	Ensure you have a link to <code class="html">&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">&lt;/script></code>
	in your code before using this tag.
</p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
        var tags = riot.mount('.ringchart', {
            chart: {
                type: 'doughnut', // line|bar|radar|polar|pie|doughnut
                data: {
                    labels: [
                        "Red",
                        "Blue",
                        "Yellow"
                    ],
                    datasets: [{
                        data: [300, 50, 100],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ]
                    }]
                },
                options: {} // Look at Chart.js documentation on how to populate data and options
            }
        });

   tags = riot.mount('.barchart',  {
            chart: {
                type: 'bar', // line|bar|radar|polar|pie|doughnut
                data: {
   		   labels: ["January", "February", "March", "April", "May", "June", "July"],
		   datasets: [
	                    {
		            label: "My Bar dataset",
		            backgroundColor: [
	        	        'rgba(255, 99, 132, 0.2)',
        		        'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
        	        	'rgba(75, 192, 192, 0.2)',
                		'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
	        	    ],
	        	    borderColor: [
        		        'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
	                	'rgba(255, 206, 86, 1)',
	        	        'rgba(75, 192, 192, 1)',
        		        'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
	        	    ],
		            borderWidth: 1,
		            data: [65, 59, 80, 81, 56, 55, 40],
	        	}
		    ]
		},
               options: {} // Look at Chart.js documentation on how to populate data and options
            }
        });

	
        tags[0].on('loaded', function(chart) {
            console.log("Chart loaded: ", chart)
        })

</script>
