---
layout: page
title: Inputs
---

<div class="demo-container">

    <div style="border-radius: 25px; border: 2px solid seagreen;padding: 20px;">
        <strong>New in v3.6!</strong> The Blaze <a href="http://blazecss.com/components/inputs/">inputs</a> can be used to provide styled HTML5 inputs.
    </div><br />
   <h2>Use</h2>
   <p>HTML5 input support, be warned though, <a href="https://www.wufoo.com/html5/" target="_blank">many browsers</a>
      are very naughty in fully supporting all these types.</p>
   <p>You will find very mixed support across all the browsers, so if the demo below doesn't work as you expect, please check your <b>browser support</b> <i>first</i> before reporting a bug here.</p>
   <ul>
     <li><a href="http://caniuse.com/#feat=input-number" target="_blank">Number Types</a>
     <li><a href="http://caniuse.com/#feat=input-datetime" target="_blank">Date Time Types</a>
     <li><a href="http://caniuse.com/#feat=input-email-tel-url" target="_blank">e-Mail and Tel Types</a>
     <li><a href="http://caniuse.com/#feat=input-search" target="_blank">Search Input Type</a>
   </ul>
   <br />
	<b>Note!</b> all tags here are &lt;rg-input type="[HTML5 INPUT TYPE]" <i>except</i> textarea, which has it's own tag: &lt;rg-textarea...&gt;.
   <hr>

     <div class="o-grid o-grid--wrap o-grid--large-fit">
       <div class="o-grid__cell o-grid__cell--width-20">
         <label class="c-text--loud">HTML5 Type</label>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <label class="c-text--loud">Regular</label>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <label class="c-field c-field--choice"><input type="checkbox"> <span class="c-text--loud">Required</span></label>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <label class="c-field c-field--choice"><input type="checkbox"> <span class="c-text--loud">Disabled</span></label>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--loud">Styled</span> <select class="c-field">
        <option>&lt;default&gt;</option>
        <option>brand</option>
        <option>info</option>
        <option>warning</option>
        <option>error</option>
        <option>success</option>
       </select>
       </div>

       <div class="o-grid__cell o-grid__cell--width-100">
         <h4 class="c-heading">Text Types</h4>
         <hr>
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Text</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input placeholder="Enter stuff"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input placeholder="Name" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input style="error"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Text Area</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-textarea placeholder="Enter stuff"></rg-textarea>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-textarea placeholder="Name" required=true></rg-textarea>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-textarea disabled=true></rg-textarea>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-textarea style="success"></rg-textarea><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">E-mail</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="email" placeholder="me@you.com"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="email" placeholder="me@you.com" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="email" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="email" style="brand"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Tel</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="tel" placeholder="Home No."></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="tel" placeholder="Work No." required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="tel" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="tel" style="success"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Search</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="search" placeholder="Search..."></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="search" placeholder="Search..." required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="search" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="search" style="warning"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">URL</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="url" placeholder="Domain"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="url" placeholder="Transfer" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="url" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="url" style="warning"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Password</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="password" placeholder="Password"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="password" placeholder="Password" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="password" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="password" placeholder="Password" style="warning"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-100">
         <h4 class="c-heading">Number Types</h4>
         <hr>
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Number</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number" placeholder="Enter #"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number" placeholder="Number" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number"  style="info"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet newlabel">PosNum</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="posnum" placeholder="Pos. #"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="posnum" placeholder="Number" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="posnum" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="posnum" style="brand"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Number [5..10]</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number" placeholder="Enter #" min=5 max=10></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number" placeholder="Name"  min=5 max=10 required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="number" disabled=true  min=5 max=10></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="number" style="success"  min=5 max=10></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Range [0..20] / 5</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="range" placeholder="Enter #" step=5 min=0 max=20></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="range" placeholder="Name"  step=5 min=0 max=20 required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="range" disabled=true  step=5 min=0 max=20></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="range" style="success"  step=5 min=0 max=20></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-100">
         <h4 class="c-heading">Date/Time Types</h4>
         <hr>
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Date</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="date" placeholder="Created"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="date" placeholder="Born" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="date" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="date"  style="info"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Date/Time</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="datetime" placeholder="When"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="datetime" placeholder="Delivery" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="datetime" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="datetime" style="info"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Time</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="time" placeholder="Time" min=5 max=10></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="time" placeholder="Time" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="time" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="time" style="success"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Week</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="week" placeholder="Enter #"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="week" placeholder="Name" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="week" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="week" style="success"></rg-input><br />
       </div>

       <div class="o-grid__cell o-grid__cell--width-20">
         <span class="c-text--quiet">Month</span>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="month" placeholder="Delivery"></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="month" placeholder="Recived" required=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input type="month" disabled=true></rg-input>
       </div>
       <div class="o-grid__cell o-grid__cell--width-20">
         <rg-input  type="month" style="warning"></rg-input><br />
       </div>

     </div>


    <h3>Input Attributes</h3>
	<p><b>Inline settings: </b> value | type | min | max | step | size | placeholder | disabled | required </p>
    <hr>
    <p><b>type</b>: [HTML5 TYPE NAME]  <a href="https://developer.mozilla.org/en/docs/Web/HTML/Element/input" target="_blank">More info here</a>. We've added one more type: <code>posnum</code> which only allows postive numbers to be input.</p>
    <p><b>style</b>:
	<rg-badge>&lt;empty&gt;</rg-badge> |
        <rg-badge style="info">info</rg-badge> |
        <rg-badge style="brand">brand</rg-badge> |
        <rg-badge style="warning">warning</rg-badge> |
        <rg-badge style="error">error</rg-badge> |
        <rg-badge style="success">success</rg-badge>
</p>
    <p><b>value</b>: [TEXT] appropriate value for HTML5 input type</p>
	 <p><b>required</b>: yes | no OR true | false</p>
 	 <p><b>disabled</b>: yes | no OR true | false</p>
   <hr>
   <h4>For <i>number</i> and <i>range</i> types only</h4>
	 <p><b>min</b>: [INTEGER]</p>
	 <p><b>max</b>: [INTEGER]</p>
	 <p><b>step</b>: [INTEGER]</p>
    <br />
    <b>Note:</b> If a value is below MIN it will adjusted to MIN. If it is above MAX, it will be set to MAX.
	 <h3>
		HTML
	</h3>
  <p>This tag supports the standard HTML5 browser types, however there is <b>lots</b> support differences across all the browsers.</p>

 <pre><code class="html">
  	&lt;rg-input&gt;&lt;/rg-input&gt;<br />
        &lt;rg-input style="error" placeholder="Enter something here"&gt;&lt;/rg-input&gt;<br />
        &lt;rg-input type="posnum"  placeholder="years active" required=true value="22"&gt;&lt;/rg-input&gt;<br />
        &lt;rg-input type="number" min=5 max=10 value=2 step=2&gt;&lt;/rg-input&gt;<br />
        &lt;rg-input type="range" min=0 step=5 max="15"&gt;&lt;/rg-input&gt;<br />
</code></pre>

    <pre><code class="javascript">
    riot.mount ("rg-input", {input: {
                            style: [STYLE TEXT],
                            type: [HTML5 INPUT TYPE],
                            placeholder: [TEXT],
                            value: [INIIT VALUE],
                            min: [NUMBER],   // only applies to types:NUMBER and RANGE.
                            max: [NUMBER],   // only applies to types:NUMBER and RANGE.
                            step: [NUMBER],  // only applies to types:NUMBER and RANGE.
                            size: [NUMBER],
                            required: [BOOLEAN],
                            disabled: [BOOLEAN],
    }) ;

</code></pre>
</div>

<script>
   riot.mount ("rg-input, rg-textarea, rg-badge") ;
</script>
