---
layout: page
title: Markdown
---

<div class="demo-container no-overflow">
   <div class="o-container o-container--medium">
       <div style="border-radius: 25px; border: 2px solid goldenrod;padding: 20px;">
	     <strong>Breaking Change with v3.5.0!</strong> This version has been upgraded to 
	       <a href="https://markdown-it.github.io/" target="_blank"> markdown-it.js</a> 
		       from <a href="http://commonmark.org/" target="_blank">commonmark.js</a>
     </div>
	<h2>Use</h2>
	<p>The following text was written in Markdown and converted to HTML using the <b>&lt;rg-markdown&gt;</b> component.</p>
	<hr>

	<rg-markdown>
---
__Advertisement :)__

- __[pica](https://nodeca.github.io/pica/demo/)__ - high quality and fast image
  resize in browser.
- __[babelfish](https://github.com/nodeca/babelfish/)__ - developer friendly
  i18n with plurals support and easy syntax.

You will like those projects!

---

# h1 Heading 8-)
## h2 Heading
### h3 Heading
#### h4 Heading
##### h5 Heading
###### h6 Heading


## Horizontal Rules

___

---

***


## Typographic replacements

Enable typographer option to see result.

(c) (C) (r) (R) (tm) (TM) (p) (P) +-
	</rg-markdown>
</div>
	<hr>
	<h3>HTML</h3>
	<b>&lt;rg-markdown&gt;</b><br/>
		   ---<br/>
             __Advertisement :)__<br/>
<br/>
        - __[pica](https://nodeca.github.io/pica/demo/)__ - high quality and fast image<br/>
	  resize in browser.<br/>
	- __[babelfish](https://github.com/nodeca/babelfish/)__ - developer friendly<br/>
	  i18n with plurals support and easy syntax.<br/>
<br/>
	You will like those projects!<br/>
<br/>
	---<br/>
<br/>
	# h1 Heading 8-)<br/>
	## h2 Heading<br/>
	### h3 Heading<br/>
	#### h4 Heading<br/>
	##### h5 Heading<br/>
	###### h6 Heading<br/>
<br/>
	## Horizontal Rules<br/>
<br/>
	___<br/>
<br/>
	---<br/>
<br/>
	***<br/>
<br/>
	## Typographic replacements<br/>
<br/>
	Enable typographer option to see result.<br/>
<br/>
	(c) (C) (r) (R) (tm) (TM) (p) (P) +-<br/>
<br/>
           <b>&lt;/rg-markdown&gt;</b><br />
	<br />
	<h3>JavaScript</h3>
	<pre><code class="javascript">
		var tags = riot.mount('rg-markdown') ;
		tags[0].on('loaded', 'alert('Your markdown text has been loaded!'));
	</code></pre>
</div>

<script>
	var tags = riot.mount('rg-markdown') ;
	tags[0].on('loaded', alert('Your markdown text has been loaded!'))
</script>
