---
layout: page
title: Tags
---

<div class="demo-container">

	<h2>Use</h2>
	<hr>
	<br />
	<rg-tags></rg-tags>
	<br />
	<hr>

	<h3>
		HTML
	</h3>

	<pre><code class="html">
	&lt;rg-tags>&lt;/rg-tags&gt;
	</code></pre>

	<h3>
		JavaScript
	</h3>

	<pre><code class="javascript">
var tags = riot.mount('rg-tags', {
  tags: {
    placeholder: 'Choose a country',
    filter: 'text', // <-- this enables filtering on the 'text' property
    options: [{
      text: 'England',
      style: 'info'
    }, {
      text: 'Scotland',
      style: 'brand'
    }, {
      text: 'Ireland',
      style: 'warning'
    }, {
      text: 'Wales',
      style: 'success'
    }],
    tags: [{
      text: 'United States',
          style: 'error'
    }]
  }
})

tags[0].on('open', function () { ... })
       .on('close', function () { ... })
       .on('select', function (item) { ... })
</code></pre>

</div>

<script>
	riot.mount('rg-tags', {
		tags: {
			placeholder: 'Choose a country',
			filter: 'text',
			    options: [{
			      text: 'England',
			      style: 'info'
				    }, {
			      text: 'Scotland',
			      style: 'brand'
				    }, {
			      text: 'Ireland',
			      style: 'warning'
				    }, {
			      text: 'Wales',
			      style: 'success'
			    }],
		    tags: [{
      			text: 'United States',
		        style: 'error'
			}]
		}
	})
</script>
