---
layout: page
title: Toasts
---


<div class="demo-container">

	<h2>Use</h2>
	<hr>
	<rg-toasts></rg-toasts>

	<h3>
		HTML
	</h3>

	<pre><code class="html">
	&lt;rg-toasts>&lt;/rg-toasts&gt;
	</code></pre>

	<h3>
		JavaScript
	</h3>

<pre><code class="javascript">
var tags = riot.mount('rg-toasts', {
  toasts: {
    position: 'bottomright|bottomleft|topleft|topright',
    toasts: [{
      style: 'error',
      text: 'Made you look!',
      sticky: true // Turn off timeout
    }, {
      style: 'warning',
      text: 'Careful now...'
    }, {
      style: 'success',
      text: 'You did it!'
    }, {
      style: 'info',
      text: 'Oops!',
      timeout: 4000 // Default to 6000 if not set
    }]
  }
})

tags[0].on('close', function (toast) { ... })
       .on('select', function (toast) { ... })</code></pre>

</div>

<script>
	var tags = riot.mount('rg-toasts', {
		toasts: {
			position: 'topright',
			toasts: [{
				style: 'error',
				text: 'Made you look!',
				sticky: true
			}, {
				style: 'warning',
				text: 'Careful now...'
			}, {
				style: 'success',
				text: 'You did it!'
			}, {
				style: 'info',
				text: 'Oops!',
				timeout: 4000
			}]
		}
	})

	tags[0].on('close', function (toast) { console.log('closed', toast) })
			   .on('select', function (toast) { console.log('selected', toast) })
</script>
