---
layout: page
title: Toggle
---

<div class="demo-container">


	<h2>Use</h2>
	<hr>
	<br />
	<rg-toggle text="Now also supports text!"></rg-toggle>
	<br />
	<hr>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-toggle text="Now also supports text!">&lt;/rg-toggle></code></pre>

	<h3>
		JavaScript
	</h3>

	<pre><code class="javascript">var tags = riot.mount('rg-toggle', {
  toggle: {
    type: 'default|brand|info|success|warning|error',
    checked: true
  }
})

tags[0].on('toggle', function (checked) { ... })</code></pre>

</div>

<script>
	var tags = riot.mount('rg-toggle', {
		toggle: {
			type: 'success',
			checked: true
		}
	})
	tags[0].on('toggle', function (checked) { console.log(checked) })
</script>
